html {
  font-size: 85%;
  /* background-image: url('background.png'); */
}

#me_img {
  /* mix-blend-mode: multiply; */
  margin-right: 20px;
  transition-duration: 0.5s;
}  

#me_img:hover {
  /* transform: rotateY(0.5turn) scale(2) translate(10px,30px) rotateY(0.5turn); */
  transform: scale(2) translate(10px,30px);
  position: fixed;
  /* top: 20px;
  left: 20px;
  padding: 3px 6px; */
  z-index: 900;
}  

/* 
colors (jquery):
#0769ad , #06568e 
#0465a3 #76caf2 #0769ad #044976 #2ea8de #052f66 #2f98cf
*/

body[data="index"] {
  /* background-color: rgba(251, 255, 0, 0.075); */
  /* background-color: rgba(251, 255, 0, 0.2); */
  /* background-color: rgba(255, 174, 0, 0.2); */
  /* background: linear-gradient(to right, #ffae0075, #feb20e46, #ffae0075); */

  /* OLD: background: linear-gradient(to right, #c5890775, #ffae0075, #c5890775); */

  /* background: linear-gradient(to right, #0769ad, #2280c4, #0769ad); */
  background-color: #06568e;
} 

body[data="portfolio"],
.mySameColorAsBackground {
  /* background-color: lightgoldenrodyellow; */
  background: linear-gradient(to right, #e4e48d, #fafad2, #e4e48d);
}

body[data="applications"] {
  /* background-color: lightblue; */
  background: linear-gradient(to right, #48a3c1, #add8e6, #48a3c1);
}

/* ---- colors ---- */
#inexistant {
  color: #0465a3 #76caf2 #0769ad #044976 #2ea8de #052f66 #2f98cf;
}

.my-ombre-cadre {
  /* box-shadow: 5px 5px 10px #c5890775, -5px -5px 10px #c5890775, 5px -5px 10px #c5890775, -5px 5px 10px #c5890775; */
  /* box-shadow: 5px 5px 10px #0465a3, -5px -5px 10px #0465a3, 5px -5px 10px #0465a3, -5px 5px 10px #0465a3; */
  box-shadow: 4px 4px 8px #3177a8, -4px -4px 8px #3177a8, 4px -4px 8px #3177a8, -4px 4px 8px #3177a8;
}
.my-ombre-cadre-2 {
  /* box-shadow: 5px 5px 10px #d3d3d3, -5px -5px 10px #d3d3d3, 5px -5px 10px #d3d3d3, -5px 5px 10px #d3d3d3; */
  box-shadow: 5px 5px 10px #b3d8f3, -5px -5px 10px #b3d8f3, 5px -5px 10px #b3d8f3, -5px 5px 10px #b3d8f3;
}

.my-background {
  /* background: linear-gradient(to bottom, #e9e98e, #ffffff, #ffffff); */
  background:  linear-gradient(to bottom, #3979a7bd 0%, #fff 25%);
  /* #dee6ec */
}
.my-background-2 {
  /* background: linear-gradient(to bottom, #4a4a36, #000000, #000000); */
  background: linear-gradient(to bottom, #5c8eb1 0%, #000000 25%);
}

.my-text-light {
  color: #c3deee;
}

.ombre-cadre {
  box-shadow: 4px 4px silver;
}

.ombre-text {
  /* text-shadow: 1.5px 1.5px silver; !important */
  /* text-shadow: 1.5px 1.5px #2f98cf; !important */
  text-shadow: 1.5px 1.5px gray;
   !important
}
.ombre-text-petit {
  /* text-shadow: 1.5px 1.5px silver; !important */
  /* text-shadow: 1.5px 1.5px #2f98cf; !important */
  text-shadow: 1px 1px gray;
   !important
}
.ombre-text-dark {
  text-shadow: 1.5px 1.5px gray;
   !important
}

.my-text-titre {
  color: #550a14;
}

/* .my-text-muted {
  /* color: #052f66; * /
  color: #c3deee;
} */
/* -------------------- */

.l_ar,
.l_fr, .l_de {
  display: none;
}

.button_lang {
  /* background-color: rgb(105, 107, 106); */
  background-color: #06568e; 
  border: 0.5px solid silver;
  color: #fff;
  padding: 8px 15px;
  /* padding: 8px 20px; */
  /* margin: 5px; */
  border-radius: 5px;

  width: auto;
  display: inline;

  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.button_lang:hover,
.current_lang {
  background-color: rgb(15, 29, 231);
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.button_lang:hover {
  transition-duration: 1s;
  transition: transform 1s;
  transform: rotateY(1turn);
}

.l_ar {
  font-family: "Courgette", cursive;
}

#theGoTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  padding: 3px 6px;
  border-radius: 4px;
  z-index: 999;
  cursor: pointer;
  box-shadow: 4px 4px silver;
}
#theGoTopBtn:hover {
  background-color: darkblue;
}

/* languages buttons */
#en_click,
#fr_click,
#de_click,
#ar_click {
  display: inline-block;
  box-shadow: 4px 4px silver;
}

#en_click:active,
#fr_click:active,
#de_click:active,
#ar_click:active, #theGoTopBtn:active {
  box-shadow: 2px 2px gray;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
}

/* buttons animation */
/* .anim:hover {
  animation: lang_button 3s infinite;
  -webkit-animation: lang_button 3s infinite;
}

@keyframes lang_button {

  0%,
  50%,
  90% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  60% {
    transform: rotate(10deg) scale(1);
    -webkit-transform: rotate(10deg) scale(1);
  }

  70% {
    transform: rotate(-10deg) scale(0.97);
    -webkit-transform: rotate(-10deg) scale(0.97);
  }

  80% {
    transform: rotate(10deg) scale(1.05);
    -webkit-transform: rotate(10deg) scale(1.05);
  }
}

@-webkit-keyframes lang_button {

  0%,
  50%,
  90% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  60% {
    transform: rotate(10deg) scale(1);
    -webkit-transform: rotate(10deg) scale(1);
  }

  70% {
    transform: rotate(-10deg) scale(0.97);
    -webkit-transform: rotate(-10deg) scale(0.97);
  }

  80% {
    transform: rotate(10deg) scale(1.05);
    -webkit-transform: rotate(10deg) scale(1.05);
  }
} */


/* Animation of 'Mohamed SMATI'  */
.letter-anim {
  display: inline-block;
  text-shadow: 2px 2px silver;

  animation-name: anim_letters;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: anim_letters;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
}

#l1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#l2 {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}

#l3 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#l4 {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}

#l5 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#l6 {
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}

#l7 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#l8 {
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}

#l9 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#l10 {
  animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
}

#l11 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

#l12 {
  animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
}

#l13 {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

@keyframes anim_letters {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    color: rgb(0, 0, 0);
    -webkit-color: rgb(0, 0, 0);
  }

  10%,
  90% {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    color: rgb(29, 29, 26);
    -webkit-color: rgb(29, 29, 26);
  }

  20%,
  80% {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    color: rgb(130, 125, 60);
    -webkit-color: rgb(130, 125, 60);
  }

  30%,
  70% {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    color: rgb(160, 150, 60);
    -webkit-color: rgb(160, 150, 60);
  }

  40%,
  60% {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    color: rgb(190, 181, 60);
    -webkit-color: rgb(190, 181, 60);
  }

  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    color: rgb(220, 209, 60);
    -webkit-color: rgb(220, 209, 60);
  }
}

@-webkit-keyframes anim_letters {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    color: rgb(0, 0, 0);
    -webkit-color: rgb(0, 0, 0);
  }

  10%,
  90% {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    color: rgb(29, 29, 26);
      -webkit-color: rgb(29, 29, 26);
  }

  20%,
  80% {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    color: rgb(130, 125, 60);
    -webkit-color: rgb(130, 125, 60);
  }

  30%,
  70% {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    color: rgb(160, 150, 60);
    -webkit-color: rgb(160, 150, 60);
  }

  40%,
  60% {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    color: rgb(190, 181, 60);
    -webkit-color: rgb(190, 181, 60);
  }

  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    color: rgb(220, 209, 60);
    -webkit-color: rgb(220, 209, 60);
  }
}

/* @-webkit-keyframes anim_letters {
  0% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      color: rgb(0, 0, 0);
      -webkit-color: rgb(0, 0, 0);
    }
  
    10%,
    90% {
      transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
      color: rgb(100, 60, 60);
      -webkit-color: rgb(100, 60, 60);
    }
  
    20%,
    80% {
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      color: rgb(130, 60, 60);
      -webkit-color: rgb(130, 60, 60);
    }
  
    30%,
    70% {
      transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      color: rgb(160, 60, 60);
      -webkit-color: rgb(160, 60, 60);
    }
  
    40%,
    60% {
      transform: translateY(-4px);
      -webkit-transform: translateY(-4px);
      color: rgb(190, 60, 60);
      -webkit-color: rgb(190, 60, 60);
    }
  
    50% {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      color: rgb(220, 60, 60);
      -webkit-color: rgb(220, 60, 60);
    }
  } */

  /* portfolio image */

  /* #portfolio_img:hover {
    /* transform: scale(2); * /
    /* transition: content 2s ease-in-out;
    content: url('folder-open-cyan.png');  * /
  } */

  @media (max-width: 600px) {
    #portfolio_img {
      width: 50px;
      /* transform: scale(0.5); */
    }

    html {
      font-size: 65%;
    }
  }

  @media (max-width: 310px) {
    /* diminuer la taille des lettres animés pour que le texte ne soit pas affiché sur 2 lignes */
    /* 150% une diminution, car la taille originale est supérieure à cette valeur */
    .letter-anim {
        font-size: 150%;
      }
  }
  @media (max-width: 235px) {
      /* Même chose*/
    .letter-anim {
        font-size: 100%;
      }
  }
