html {
  font-size: 85%;
  /* background-image: url('background.png'); */
}

#me_img {
  /* mix-blend-mode: multiply; */
  margin-right: 20px;
}  

#me_img:hover {
  transform: scale(2) translate(10px,30px);
}  

body {
  /* background-color: rgba(251, 255, 0, 0.075); */
  /* background-color: rgba(251, 255, 0, 0.2); */
  background-color: rgba(255, 174, 0, 0.2);
}  

/* -------------------- */

.l_ar,
.l_fr, .l_de {
  display: none;
}

.button_lang {
  background-color: rgb(105, 107, 106);
  color: #fff;
  padding: 8px 15px;
  /* padding: 8px 20px; */
  /* margin: 5px; */
  border-radius: 5px;

  width: auto;
  display: inline;

  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.button_lang:hover,
.current_lang {
  background-color: rgb(15, 29, 231);
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.l_ar {
  font-family: "Courgette", cursive;
}

#theGoTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  padding: 3px 6px;
  border-radius: 4px;
  z-index: 999;
  cursor: pointer;
  box-shadow: 4px 4px silver;
}
#theGoTopBtn:hover {
  background-color: darkblue;
}

/* languages buttons */
#en_click,
#fr_click,
#de_click,
#ar_click {
  display: inline-block;
  box-shadow: 4px 4px silver;
}

#en_click:active,
#fr_click:active,
#de_click:active,
#ar_click:active, #theGoTopBtn:active {
  box-shadow: 2px 2px gray;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
}

.ombre-cadre {
  box-shadow: 4px 4px silver;
}

.ombre-text {
    text-shadow: 1.5px 1.5px silver; !important
}
.ombre-text-dark {
    text-shadow: 1.5px 1.5px gray; !important
}

/* buttons animation */
/* .anim:hover {
  animation: lang_button 3s infinite;
  -webkit-animation: lang_button 3s infinite;
}

@keyframes lang_button {

  0%,
  50%,
  90% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  60% {
    transform: rotate(10deg) scale(1);
    -webkit-transform: rotate(10deg) scale(1);
  }

  70% {
    transform: rotate(-10deg) scale(0.97);
    -webkit-transform: rotate(-10deg) scale(0.97);
  }

  80% {
    transform: rotate(10deg) scale(1.05);
    -webkit-transform: rotate(10deg) scale(1.05);
  }
}

@-webkit-keyframes lang_button {

  0%,
  50%,
  90% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  60% {
    transform: rotate(10deg) scale(1);
    -webkit-transform: rotate(10deg) scale(1);
  }

  70% {
    transform: rotate(-10deg) scale(0.97);
    -webkit-transform: rotate(-10deg) scale(0.97);
  }

  80% {
    transform: rotate(10deg) scale(1.05);
    -webkit-transform: rotate(10deg) scale(1.05);
  }
} */


/* Animation of 'Moahmed SMATI'  */
.letter-anim {
  display: inline-block;
  text-shadow: 2px 2px silver;

  animation-name: anim_letters;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: anim_letters;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
}

#l1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#l2 {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}

#l3 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#l4 {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}

#l5 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#l6 {
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}

#l7 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#l8 {
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}

#l9 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#l10 {
  animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
}

#l11 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

#l12 {
  animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
}

#l13 {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

@keyframes anim_letters {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    color: rgb(0, 0, 0);
    -webkit-color: rgb(0, 0, 0);
  }

  10%,
  90% {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    color: rgb(100, 60, 60);
    -webkit-color: rgb(100, 60, 60);
  }

  20%,
  80% {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    color: rgb(130, 60, 60);
    -webkit-color: rgb(130, 60, 60);
  }

  30%,
  70% {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    color: rgb(160, 60, 60);
    -webkit-color: rgb(160, 60, 60);
  }

  40%,
  60% {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    color: rgb(190, 60, 60);
    -webkit-color: rgb(190, 60, 60);
  }

  50% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    color: rgb(220, 60, 60);
    -webkit-color: rgb(220, 60, 60);
  }
}

@-webkit-keyframes anim_letters {
  0% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      color: rgb(0, 0, 0);
      -webkit-color: rgb(0, 0, 0);
    }
  
    10%,
    90% {
      transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
      color: rgb(100, 60, 60);
      -webkit-color: rgb(100, 60, 60);
    }
  
    20%,
    80% {
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      color: rgb(130, 60, 60);
      -webkit-color: rgb(130, 60, 60);
    }
  
    30%,
    70% {
      transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      color: rgb(160, 60, 60);
      -webkit-color: rgb(160, 60, 60);
    }
  
    40%,
    60% {
      transform: translateY(-4px);
      -webkit-transform: translateY(-4px);
      color: rgb(190, 60, 60);
      -webkit-color: rgb(190, 60, 60);
    }
  
    50% {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      color: rgb(220, 60, 60);
      -webkit-color: rgb(220, 60, 60);
    }
  }